<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button class="btn btn-primary mr-auto">New</button> 
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Turma Do Preparatario</h3> 
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn ml-auto">...</button> 
    </div>
  </div>  
  <div class="row home-projects">
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Lucira</h4>
        <h3> Texto argumentativo.</h3>
        <p>Falar também sobre paragrafação, sobre coerência e coesão textual.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h2>Salvador</h2>
        <h3> Texto argumentativo.</h3>
        <p> Trabalho sobre nobre a narrativa</p>

      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>João</h4>
        <h3> Texto argumentativo.</h3>
        <p>pronomes adjetivos demostrativos comparando pobreza  forma do verbo estar.</p>
      </a>
    </div>

     <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Tania</h4>
                <h3> Texto argumentativo.</h3>
        <p>vai apresentar o texto novamente trazer contextualização. </p>
      </a>
    </div>

           <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Antonio</h4>
          <h3> Texto argumentativo.</h3>
        <p>debruçar-se sobre a transmissão e também trazer alguns dados sobre a translação. </p>
      </a>
    </div>


    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Venancia</h4>
        <h3> Texto argumentativo.</h3>
        <p>Paragrafação assinar no seu texto.</p>
      </a>
    </div>

<script type="text/javascript">
  

  alert("vejam a pagina para verem o que os vossos grupos estão a fazer")
</script>

  </div>
</main>   