<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button class="btn btn-primary mr-auto">New</button> 
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Turma Do Preparatario</h3> 
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn ml-auto">...</button> 
    </div>
  </div>  
  <div class="row home-projects">
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Heisler</h4>
        <p>Falar também sobre paragrafação, sobre coerência e coesão textual.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Joaquim</h4>
        <p> Trabalho sobre acentuação.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Lucirá </h4>
        <p>pronomes adjetivos demostrativos comparando pobreza  forma do verbo estar.</p>
      </a>
    </div>

     <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Baltazar</h4>
        <p>vai apresentar o texto novamente trazer contextualização. </p>
      </a>
    </div>

           <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Tania</h4>
        <p>debruçar-se sobre a transmissão e também trazer alguns dados sobre a translação. </p>
      </a>
    </div>


    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Maria Jeronimo</h4>
        <p>Paragrafação assinar no seu texto.</p>
      </a>
    </div>

        <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Julio Kinana</h4>
        <p>vai trazer um texto renovado que fala sobre o desemprego conversar sobre algumas pessoas sobre o que é o desemprego porque uma pessoa qualificada esta desempregada</p>
      </a>
    </div>


        <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4> Medina </h4>
        <p>trazer os sinais auxiliar das escrita .</p>
      </a>
    </div>


        <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4> Manuel MIguel  Capequete</h4>
        <p>Dados sobre a concordancia e vai trazer uma resposta  sobre a questão do paragrafo .</p>
      </a>
    </div>

  </div>
</main>