<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
    
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Heisler Stlano Universidade Gregorio Semedo curso de preparatorio 2020
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->