    <nav class="navbar navbar-expand-lg justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="<%= image_url('navbar-icon.png') %>" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav align-self-center">
    <li class="nav-item">
      <a class="nav-link" href="#">1ยบ Grupo </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">2ยบ Grupo </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">3ยบ Grupo</a>
    </li>

    </li>
  </ul>
  <ul class="navbar-nav align-self-center">
    <li class="nav-item navbar-profile-icon">
      <a class="nav-link" href="https://ugs.ed.ao/"></a>
    </li>
  </ul>
</nav>